* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.nav {
  display: flex;
  justify-content: center;
  list-style: none;
}

.navLink {
  text-transform: uppercase;
  text-align: center;
  margin: 10px;
  cursor: pointer;
}

.activeNavLink {
  background-color: cornflowerblue;
  border: 1px solid cornflowerblue;
  border-radius: 5px;
}

.navLink a {
  padding: 5px;
  width: 100px;
  text-decoration: none;
  color: white;
}

.productForm {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.productList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 20px;
}

.productItem {
    background-color: white;
    margin: 5px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 100px;
}

.formInput {
    margin: 0 10px;
    width: 150px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    outline: none;
    cursor: pointer;
}

.formButton {
    margin: 0 10px;
    width: 150px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: cornflowerblue;
    color: white;
    cursor: pointer;
}

.cardButton {
    padding: 5px;
    width: 70px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: cornflo
